@inject IOptions<BaseEmailSenderOptions> _config
@model AI4Green4Students.Models.Emails.NoteFeedBackEmailModel

@{
    // Using the service name from the injected config for the subject and any other places.
    ViewBag.Subject = $"Feedback Request for Project " + Model.Project;
    ViewBag.Heading = "Feedback Request";
}

<p>Dear @Model.Instructor,</p>

<p>Your student <strong>@Model.Owner</strong> has requested feedback for their notes in the project <strong>@Model.Project</strong> related to the plan <strong>@Model.Plan</strong>.</p>

<p>Please log in to @_config.Value.ServiceName to review their notes.</p>

<p>Alternatively, you can click <a href="@Model.Url">here</a> to go directly to the note.</p>

<p>Thank you!</p>

<p>@_config.Value.ServiceName Team</p>
