@* This is the email template that is sent to the instructor when a student submits/re-submits their plan/literature review for review. *@

@inject IOptions<BaseEmailSenderOptions> _config
@using AI4Green4Students.Constants
@model AI4Green4Students.Models.Emails.AdvanceStageEmailModel

@{
  ViewBag.Subject = $"{_config.Value.ServiceName}: {Model.Type} {(Model.IsNewSubmission ? "Submitted" : "Re-Submitted")}";
  var recordType = Model.Type == SectionTypes.LiteratureReview ? "Literature Review" : Model.Type;
}

<p>Dear @Model!.Instructor,</p>

<p>
  Your student, @Model.Owner, has @(Model.IsNewSubmission ? "submitted" : "re-submitted") their
  <b>
    @recordType
    @if (!string.IsNullOrEmpty(Model.Name))
    {
      <span> - @Model.Name</span>
    }
  </b>
  for review as part of the @Model.Project project.
</p>

<p>Please log in to @_config.Value.ServiceName to review.</p>
