@* This is the email template that is sent to the student when a instructor requests changes to their plan/literature review. *@

@inject IOptions<BaseEmailSenderOptions> _config
@using AI4Green4Students.Constants
@model AI4Green4Students.Models.Emails.AdvanceStageEmailModel

@{
  ViewBag.Subject = $"{_config.Value.ServiceName}: Changes requested for your {Model.Type} - {Model.Name}";
  var recordType = Model.Type == SectionTypes.LiteratureReview ? "Literature Review" : Model.Type;
}

<p>Dear @Model!.Owner,</p>

<p>
  Your instructor, @Model.Instructor, has left comments and requested changes be made to your
  <b>
    @recordType
    @if (!string.IsNullOrEmpty(Model.Name))
    {
      <span> - @Model.Name</span>
    }
  </b>
  as part of the @Model.Project project.
</p>

<p>There are <b>@Model.CommentCount</b> unread comments. Please address these comments accordingly.</p>

<p>Please log in to @_config.Value.ServiceName to resolve these comments.</p>
