@* This is the email template that is sent to the instructor when a student submits/re-submits their plan/literature review for review. *@

@inject IOptions<BaseEmailSenderOptions> _config
@using AI4Green4Students.Constants
@model AI4Green4Students.Models.Emails.StageAdvancementEmailModel

@{
  ViewBag.Subject = $"{_config.Value.ServiceName}: {Model.RecordType} {(Model.IsNewSubmission ? "Submitted" : "Re-Submitted")}";
  var recordType = Model.RecordType == SectionTypes.LiteratureReview ? "Literature Review" : Model.RecordType;
}

<p>Dear @Model!.InstructorName,</p>

<p>
  Your student, @Model.StudentName, has @(Model.IsNewSubmission ? "submitted" : "re-submitted") their
  <b>
    @recordType
    @if (!string.IsNullOrEmpty(Model.RecordName))
    {
      <span> - @Model.RecordName</span>
    }
  </b>
  for review as part of the @Model.ProjectName project.
</p>

<p>Please log in to @_config.Value.ServiceName to review.</p>
